<form>
  <!-- options -->                                                                        <!-- checkBox -->
  <text class="chooseShapesForPrint" onclick="check('appShapes')">Application Shapes</text>       <input type="radio" name="printer" id="appShapes" checked onclick="check(this.id)"><br>
  <text class="chooseShapesForPrint" onclick="check('allShapes')">All Shapes</text>         <input type="radio" name="printer" id="allShapes" onclick="check(this.id)"><br>
  <text class="chooseShapesForPrint" onclick="check('usersShapes')">Users shapes</text>   <input type="radio" name="printer" id="usersShapes" onclick="check(this.id)"><br>
  <text class="chooseShapesForPrint" onclick="check('myShapes')">My shapes</text>         <input type="radio" name="printer" id="myShapes" onclick="check(this.id)"><br>
  <text class="chooseShapesForPrint" onclick="check('nooneShape')">No shape</text>     <input type="radio" name="printer" id="nooneShape" onclick="check(this.id)">
</form>